html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column nowrap;
}

body > .container-fluid {
  flex: 1;
}

body > .container-fluid > .row {
  height: 100%;
}

.save-note {
  display: none;
}

.icons i {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

#note {
  display: flex;
  flex-flow: column nowrap;
}

.note-textarea,
.note-title {
  color: #000000;
  width: 100%;
  outline: none;
  border: none;
}

.note-textarea {
  resize: none;
  flex: 1;
  /* height: calc(100% - 63px); */
  /* padding-top: 15px; */
}

.note-title {
  /* height: 50px; */
  margin-top: 13px;
  font-size: 3rem;
  padding: 0;
}

.note-title:read-only,
.note-textarea:read-only {
  color: #757575;
}

.list-container .card {
  height: calc(100vh - 70px);
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.list-container {
  padding: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.125)
}

.list-container .list-group,
.list-container .list-group-item:first-child,
.list-container .card {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-item-title {
  display: inline-block;
  width: 75%;
}

.list-container i {
  font-size: 1.1rem;
  cursor: pointer;
}

.list-container .list-group-item {
  border-left: none;
  border-right: none;
  padding: 20px;
  cursor: pointer;
}

.timestamp {
  opacity: 0.6;
  font-size: 0.8em;
}
